body {

    background-image: url(./Gif/bg\ 32.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-size: cover;

}

.main {
    width: 100%;
    height: 20%;
    border: 1px silod black;
    text-align: center;
}

h2 {
    background-color: red;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;


}

img {

    align-items: center;
    border-radius: 50px;
}

a {
    font-size: x-large;
    text-decoration-line: none;
    background-color: blue;
    border-radius: 50px;
    color: rgb(249, 250, 252);
    margin: auto;
    margin-left: 90px;
    float: left;
    width: 200px;
    text-align: center;

}

nav {
    display: flexbox;
    padding: 10px;
    margin: auto;
}


p {
    text-align: center;
    font-style: italic;
}

button {
    color: black;
    font-style: oblique;
}

a:hover {
    background-color: yellow;
    color: blue;
}

table {
    margin-top: 50px;

    display: inline-flex;
}