* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


h3 {
    text-align: center;
    color: black;
    margin-top: 100px;
}

.Dbuttan {
    background: red;
    border: none;
    margin: 0 42.5%;
    width: 15%;
    padding: 5px;
}

/* Navbar box Style Number 1  */
#box1 {
    width: 90%;
    height: 60px;
    background-color: #019587;
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 0px 40px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.list li {
    display: inline-block;
    width: 80px;
    text-align: center;
    padding-top: 16px;
    height: 50px;

}

.data1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
}

input {
    background-color: transparent;
    border: none;
    height: 30px;
    color: white;
    border-bottom: 2px solid white;
}

::placeholder {
    color: white;
}

.home {
    background-color: rgba(207, 199, 199, 0.596);
}


/* Navbar box Style Number 2  */

#box2 {
    width: 90%;
    height: 60px;
    background-color: #890E4F;
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 0px 40px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

select {
    height: 50px;
}

i {
    margin: auto 10px;
}


/* Navbar box Style Number 3  */
#box3 {
    width: 90%;
    height: 60px;
    background-color: #00BCD5;
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 0px 40px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.data3 {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Navbar box Style Number 4  */
#box4 {
    width: 90%;
    height: 60px;
    background-color: #AA47BC;
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 0px 40px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

/* Navbar box Style Number 5  */
#box5 {
    width: 90%;
    height: 60px;
    background-color: #3f51b5;
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 0px 40px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

/* Navbar box Style Number 6  */
#box6 {
    width: 90%;
    height: 60px;
    background-color: #f9bbd0;
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 0px 40px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


.list6 li,
#list6 {

    color: black;
}

.black::-webkit-input-placeholder {
    color: black;

}

/* Navbar box Style Number 7 */

#box7 {
    width: 90%;
    height: 60px;
    background-color: #d32f2e;
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 0px 40px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.b7 {
    color: white;
    background-color: #d32f2e;
    width: 100px;
    height: 30px;
    border: 1px solid white;
}

/* Navbar box Style Number 8  */

#box8 {
    width: 90%;
    height: 60px;
    background-color: #000000;
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 0px 40px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}









Inter,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen,
Ubuntu,
Cantarell,
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif